.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.warp {
  position: absolute;
  width: 250px;
  height: 50vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 1000px;
  height: 50vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}

.rotate {
  transform: rotate(30deg);
 }

 #coverup {
  background: white;
  width: 170px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transform: rotate(30deg);
}
 
 /* @keyframes rotate-keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(180deg);
  }
 } */

